.contacts
  background-size cover

.contacts.section-header
  margin-bottom 20px

.contacts_block
  padding 10px
  background-color rgba(0, 0, 0, 0.5)
  
.contacts_desc
  margin-top 20px
  float left
  width 40%
  
.assmaded_line
  height 100%
  width 1px
  float left
