.teams-list__item--wrap
  display flex
  justify-content center
  align-items center
  width 12vh
  height 12vh
  background-size cover !important
  padding 15px
  text-align center
  border-radius 50%
  margin-bottom 7px
  box-shadow 0 0 15px 0 rgba(0, 0, 0, .8)