.dark
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  z-index 1
  background #000000
  opacity .7
  pointer-events none
  border-radius 50%

.dark-no__radius
  border-radius 0

.dark-content
  width 100%
  z-index 2