.fp-tableCell
  display block !important
  vertical-align top !important

.fp-tooltip
  font-size 120% !important
  color: inherit !important

#fp-nav li
  height 20px !important

.fp-controlArrow
  display none