mixin activity-list__item(title)
    .col-xs-6.col-sm-4.activity-list__item.flex.flex-center.flex-column
        .activity-list__item--icon(class!="icon-" + attributes.icon)
        .activity-list__item--title= title