mixin movements-item(title, text, url)
    - var bgImg = "img/movements/" + attributes.bg
    a(href!=url, target="_blank", style="background: url(" + bgImg + ") center no-repeat #000000").col-xs-8.movements-item.flex.flex-center.flex-column
        .dark.dark-no__radius
        .dark-content.text-center
            fieldset.movements-item__line.row.flex-center
                legend(align="center").col-xs-8.movements-item__title= title
                .movements-item__text= text
