mixin teams-list__item(title, url)
    - var bgImg = "img/teams/" + attributes.bg
    a(href!=url, target="_blank").col-xs-6.col-sm-3.teams-list__item.flex.flex-center__y.flex-column
        .teams-list__item--wrap(style="background: url(" + bgImg + ") center no-repeat #000000")
            .dark
            .dark-content
                .teams-list__item--icon(class!="icon-" + attributes.icon)
        .teams-list__item--title= title