.btn-colors__black
  color black
  border 1px solid black
  transition 0.5s

.btn-colors__black:hover
    color white;
    background black

.btn-colors__white
  color white
  border 1px solid white
  transition 0.5s

.btn-colors__white:hover
    color black
    background white;
