.flex-x__start
  justify-content flex-start !important
  
.flex-x__start-sm
  @media only screen and (min-width 48em)
    justify-content flex-start !important

.flex-x__start-md
  @media only screen and (min-width 64em)
    justify-content flex-start !important

.flex-x__start-lg
  @media only screen and (min-width 75em)
    justify-content flex-start !important

.flex-x__end
  justify-content flex-end !important
  
.flex-x__end-sm
  @media only screen and (min-width 48em)
    justify-content flex-end !important

.flex-x__end-md
  @media only screen and (min-width 64em)
    justify-content flex-end !important
  
.flex-x__end-lg
  @media only screen and (min-width 75em)
    justify-content flex-end !important
    