*
  position relative
  box-sizing border-box
  -webkit-font-smoothing antialiased

body
  background #FAFAFA
  color #111111
  font-family 'Helvetica', 'PT Sans', 'Arial'

a
  color inherit
  opacity .7
  text-decoration none
  transition .3s all

a:hover
  opacity 1