.navy
  background #001f3f

.blue
  background #0074d9

.aqua
  background #7fdbff

.teal
  background #39cccc

.olive
  background #3d9970

.green
  background #2ecc40

.lime
  background #01ff70

.yellow
  background #ffdc00

.orange
  background #ff851b

.red
  background #ff4136

.fuchsia
  background #f012be

.purple
  background #b10dc9

.maroon
  background #85144b

.white
  background #ffffff

.silver
  background #dddddd

.gray
  background #aaaaaa

.black
  background #111111
