include ../elements/panel
include ../elements/button

section#about.about.row.flex-center__x
    .section-header.col-xs-12.text-color__white Про организацию

    .about-logo.col-xs-12.text-center
        img(src='img/logo.png', alt='')
    
    
    .about-description.col-xs-10.text-center.text-color__white
        .about_blacked
            span.about-description__bold ММОО «Студенческий союз МИРЭА»
            | &nbsp; — общественная организация, объединяющая студентов и аспирантов Московского технологического университета.
            | Студенческий союз МИРЭА предоставляет возможность для творческой самореализации молодежи, содействует научной работе студентов, организует и проводит спортивные мероприятия, участвует в реализации различных молодежных программ. Представители Студенческого союза входят в состав Совета по воспитательной работе, стипендиальных комиссий, Учёного совета и других структур Университета.


    .about-panels.col-xs-10.row
        +panel("Единомышленники", "Объединяем 7000 активистов Московского технологического Университета.")(class="color-green")
        +panel("24 года в активе", "Работаем с 7 мая 1992 года. Отмечаем день рождения в День радио.")(class="color-blue")
        +panel("Подразделения", "С нами 10 подразделений — выбирайте направление работы по душе или придумайте своё!")(class="color-pink")
        //+panel("Отделения", "7 отделений — по одному на каждый Институт. В стороне не окажетесь!")(class="color-blue__dark")


    //.about-action.col-xs-12.row.flex-center__x
        //+button("Вступить", "https://vk.me/sumirea")(class="btn-colors__black")

    //--slider switches here if needed?
