include ../elements/activity-list__item

section#activity.activity.row.flex-center__x.text-color__white
    .section-header.col-xs-12 Деятельность

    .activity-list.col-xs-12.col-md-10.row
        +activity-list__item("Культурно-массовые мероприятия")(icon="smile")
        +activity-list__item("Помощь в учёбе")(icon="graduation-cap")
        +activity-list__item("Спорт и туризм")(icon="soccer-ball")

        +activity-list__item("Наука и саморазвитие")(icon="puzzle")
        +activity-list__item("Хобби и общение")(icon="beaker")
        +activity-list__item("Информирование студентов и абитуриентов")(icon="info")

    .activity-text.col-xs-8.flex.flex-center
        | Это и всё, что вы придумаете — в Студенческом союзе МИРЭА
