section#contacts.contacts.row.flex-center__x
    .section-header.col-xs-12.text-color__black Контакты

    .contacts_block.row.col-xs-9.text-color__white
        .contacts_desc.col-xs-6
            | Руководитель организации: 
            br
            | Серёгин Александр Дмитриевич — Секретарь Комитета Студенческого союза МИРЭА.
            br
            | +7 929 917-09-66
            br
            | seregin@sumirea.ru
            br
            | пр. Вернадского, 78, аудитория А-131

            br
            br
            | Пресс-служба: 
            br
            | Фальков Владислав Дмитриевич — пресс-секретарь Студенческого союза МИРЭА.
            br
            | +7 916 335-19-03
            br
            | falkov@sumirea.ru
            br
            | пр. Вернадского, 78, аудитория А-135

            br
            br
            | По вопросам работы сайта: 
            br
            | Глеб Деревлёв — руководитель Информационного центра.
            br
            | +7 929 914-14-29
            br
            | icenter@sumirea.ru
            br
            | пр. Вернадского, 78, аудитория А-135

        //hr.assmaded_line

        .contacts_desc.col-xs-6
            | Адреса:
            p Молодёжная межрегиональная общественная организация «Студенческий союз МИРЭА»

            p Приёмные:
            ul
                li г. Москва, пр. Вернадского, д. 78, аудитория А-131
                li г. Москва, пр. Вернадского, д. 86, аудитория Л117А
                li г. Москва, ул. Стромынка, д. 20, аудитория 411

            p Социальные медиа:
            ul
                li
                    VK: a(href="https://vk.com/sumirea") vk.com/sumirea
                li
                    Instagram: a(href="https://instagram.com/sumirea") @sumirea
