include ../elements/movements-item

section#movements.movements.row.text-color__white
    //--@TODO: add it later
    .col-xs-12.section-header Отряды

    .col-xs-12.row.flex-center__x


        ul.slider
            li
                +movements-item("Центральный спасательный отряд Всероссийского студенческого корпуса спасателей Россоюзспаса", "Их призвание – спасать жизни и предупреждать катастрофы", "")(bg="rosspas.jpg")
                +movements-item("Атмосфера", "Стань профессиональным вожатым!", "")(bg="atmosphere.jpg")
                +movements-item("Стройотряд", "Стань мастером на все руки!", "")(bg="stroiteli.jpg", "")
            li
                +movements-item("Профориентационный отряд «Вектор»", "У вас появится возможность стать профессиональным консультантом и поработать на ведущих образовательных выставках России", "")(bg="")
                +movements-item("Социальный отряд круглогодичного действия «МИР»", "Если благотворительность — твоя стихия, то тебе в «МИР»!", "")(bg="mir.jpg")
                +movements-item("Поисково-археологический отряд", "Прикоснись к истории вместе с энтузиастами Студенческого союза!", "")(bg="")
