include ../elements/teams-list__item
    
section#teams.teams.row.flex-center__x.text-color__white
    .section-header.col-xs-12 Направления работы
        
    .teams-list.col-xs-12.col-md-10.row.flex-center__x

        ul.slider
            li.row.flex-center__x
                +teams-list__item("Профсоюз")(icon="user", bg="profkom.jpg")
                +teams-list__item("Информационный центр")(icon="info", bg="mireadev.jpg")
                +teams-list__item("Разработка")(icon="desktop", bg="mireadev.jpg")
                +teams-list__item("Досуговый центр")(icon="lightbulb", bg="profkom.jpg")


                +teams-list__item("Спортивный клуб")(icon="soccer-ball", bg="soccer.jpg")
                +teams-list__item("Наука")(icon="beaker", bg="science.jpg")
                +teams-list__item("Центр карьеры")(icon="chart-line", bg="work.jpg")
                +teams-list__item("Волонтерский центр")(icon="heart", bg="team.jpg")

                +teams-list__item("Общий отдел")(icon="doc-text", bg="mireadev.jpg")
                +teams-list__item("Клуб интересов")(icon="fire", bg="profkom.jpg")
            li.row.flex-center__x
                +teams-list__item("Профсоюз")(icon="user", bg="profkom.jpg")
                +teams-list__item("Инфоцентр")(icon="info", bg="mireadev.jpg")
                +teams-list__item("Разработка")(icon="desktop", bg="mireadev.jpg")
                +teams-list__item("Досуговый центр")(icon="lightbulb", bg="profkom.jpg")

                +teams-list__item("Спортивный клуб")(icon="soccer-ball", bg="soccer.jpg")
                +teams-list__item("Наука")(icon="beaker", bg="science.jpg")
                +teams-list__item("Центр карьеры")(icon="chart-line", bg="work.jpg")
                +teams-list__item("Волонтерский центр")(icon="heart", bg="team.jpg")

                +teams-list__item("Общий отдел")(icon="doc-text", bg="mireadev.jpg")
                +teams-list__item("Клуб интересов")(icon="fire", bg="profkom.jpg")

    .teams-text.col-xs-8.flex.flex-center
        | Присоединяйся к любому из них!
