mixin slide_project(project)
    if project.specialCol
        div(class!=project.specialCol).row.margin-top__15vh
            include slide-content
    else
        div.col-xs-6.row.margin-top__15vh
            include slide-content

