section.section.full-screen.text-center.slider
    div.slide
        div.slide-content.flex.flex-column.between-xs
            h2 Об организации
            div.flex.big-row
                div.col-xs-6.center-xs.flex.flex-column.facts
                    div
                        span.icon.icon-clock-1 Работаем с 7 мая 1992 года
                    div
                        span.icon.icon-people 7000 единомышленников
                    div
                        span.icon.icon-cubes 10 структурных подразделений
                    div
                        span.icon.icon-house-2 7 отделений в институтах
                    div
                        div.next-slide.btn Подробнее

                div.col-xs-6.flex.flex-center
                    a(href="assets/img/about1.jpg", target="_blank")
                        img(src="assets/img/about1.jpg")

            //div.row.facts
                div.col-xs-12
                    span.icon.icon-clock-1 Работаем с 7 мая 1992 года
                div.col-xs-12.col-md-4
                    span.icon.icon-people 7000 единомышленников
                div.col-xs-12.col-md-4
                    span.icon.icon-cubes 10 структурных подразделений
                div.col-xs-12.col-md-4
                    span.icon.icon-house-2 7 отделений в институтах

    div.slide
        div.slide-content.flex.flex-column.between-xs
            h2 Наша деятельность

            div.flex.flex-column.big-row.padding-top__8vh
                div.row
                    div.col-xs-12
                        a(href="assets/img/about1.jpg", target="_blank")
                            img(src="assets/img/about2.jpg")

                div.row.facts
                    div.row.col-xs-6
                        div.col-xs-12
                            span.icon.icon-curator Работа со студентами
                        div.col-xs-12
                            span.icon.icon-museum Культурно­массовая деятельность
                        div.col-xs-12
                            span.icon.icon-football Спорт и здоровый образ жизни
                        div.col-xs-12
                            span.icon.icon-ic Информационная работа
                    div.row.col-xs-6
                        div.col-xs-12
                            span.icon.icon-puzzle Хобби и общение
                        div.col-xs-12
                            span.icon.icon-science Научная и учебная деятельность
                        div.col-xs-12
                            span.icon.icon-work Профориентация и трудоустройство
                        div.col-xs-12
                            span.icon.icon-fax Организационная работа

    //div.slide
        div.slide-content.flex.flex-column.around-xs
            h2 Здесь про победы в конкурсах и прочее
            | google docs был пустой