section.section.full-screen.text-center.slider
    div.slide
        div.slide-content.flex.flex-column
            h2.margin-15vh Мы в социальных сетях
            div.row.facts
                div.col-xs-12
                    span.icon.icon-vk
                    a(href="https://vk.com/sumirea", target="_blank") Наш паблик
                div.col-xs-12
                    span.icon.icon-instagram
                    a(href="https://instagram.com/sumirea", target="_blank") Наши фоточки
                div.col-xs-12
                    span.icon.icon-twitter
                    a(href="https://twitter.com/sumirea", target="_blank") Наш микроблог

    div.slide
        div.slide-content.flex.flex-column
            h2.margin-15vh Отделения в институтах
            div.row.facts
                div.col-xs-12
                    span.icon.icon-man Главное отделение A-131
                div.col-xs-12
                    span.icon.icon-man ИТ А-337
                div.col-xs-12
                    span.icon.icon-man Кибернетика Г-317
                div.col-xs-12
                    span.icon.icon-man ФТИ В-425
                div.col-xs-12
                    span.icon.icon-man РТС Б-108fm
                div.col-xs-12
                    span.icon.icon-man ИНТЕГУ А-137

    div.slide
        div.slide-content.flex.flex-column
            h2.margin-15vh Сделано в MireaDev
            div.row.facts
                div.col-xs-12
                    span.icon.icon-github
                    a(href="https://github.com/mireadev/meta#Подразделение-разработки-МИРЭА", target="_blank") О нас и наша цель
                div.col-xs-12
                    span.icon.icon-vk
                    a(href="https://vk.com/mireadev", target="_blank") Наш паблик
                div.col-xs-12
                    span.icon.icon-github
                    a(href="https://github.com/mireadev", target="_blank") Наш код
