main#main.page
    //video
    include video

    //about
    include about

    //history
    //include history

    //people
    //include people

    //movements
    include movements

    //projects
    include projects

    //contact
    include contact
