.btn
  display inline-block
  margin-top 20px
  padding 10px
  border-radius 5px
  text-transform uppercase
  border 1px solid black
  transition .4s all
  cursor pointer

.btn:hover
  background black
  color #ffffff
