.projects-list__item--size1
  @media only screen and (min-width 75em)
    width 35vh !important
    height 35vh !important
  
    .projects-list__item--title
      font-size 32px !important

.projects-list__item--size2
  @media only screen and (min-width 75em)
    width 27vh !important
    height 27vh !important
  
    .projects-list__item--icon
      font-size 36px !important
  
    .projects-list__item--title
      font-size 22px !important

.projects-list__item--size3
  @media only screen and (min-width 75em)
    width 23vh !important
    height 23vh !important
  
    .projects-list__item--icon
      font-size 30px !important
  
    .projects-list__item--title
      font-size 16px !important

.projects-list__item--size4
  @media only screen and (min-width 75em)
    width 19vh !important
    height 19vh !important
  
    .projects-list__item--icon
      font-size 24px !important
